body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #ffd700;
    padding: 20px 0;
}

.grand-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.banner-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

main {
    padding-top: 20px;
}

.category-title {
    font-size: 28px; 
    font-weight: bold; 
    color: #333;
    margin-bottom: 20px; 

}

.category {
    margin-bottom: 40px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto; 
    border-radius: 10px;
}

.product h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.product p {
    margin: 0;
}

.price {
    font-weight: bold;
    color: #2ecc71;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}




